# General
.idea
.env

# Node/npm
node_modules/

# Hardhat / Solidity
/cache
/artifacts
/coverage
/coverage.json
/typechain
/typechain-types
/ignition/deployments/**/build-info
/ignition/deployments/**/artifacts/*.dbg.json